.vertical-section {
    width: 300px;
    margin-left: auto;
    
  }
  
  .vertical-section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .vertical-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .vertical-section table th,
  .vertical-section table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .vertical-section table th {
    background-color: #f2f2f2;
  }